/**
 * @file
 * jQuery UI accordion styles
 */

// Accordion.
$accordion-background-color: #eee;
$accordion-border-color: #fff;
$accordion-border-style: solid;
$accordion-border-width: 1px;
$accordion-color: #222;
$accordion-horizontal-padding: 1em;
$accordion-vertical-padding: .66em;

$accordion-hover-background-color: $wwuLime;
$accordion-hover-color: $wwuBlue;

// Active Trail.
$accordion-active-trail-background-color: #ddd;

// Accordion Header Icon.
$accordion-header-icon-background-color: #ddd;

// Accordion Child.
$accordion-child-horizontal-padding: 2;
$accordion-child-horizontal-padding-increment: 1.5;

.ui-helper-reset {
  line-height: 1.5;
}

.ui-accordion .ui-accordion-header {
  padding: 0;
}

.block-accordion-menu {

  .ui-state-default a {
    color: $accordion-color;
  }

  .accordion-link,
  .accordion-link:link {
    color: $accordion-color;
    display: block;
    padding-bottom: $accordion-vertical-padding;
    padding-left: $accordion-horizontal-padding;
    padding-right: $accordion-horizontal-padding;
    padding-top: $accordion-vertical-padding;
  }

  .accordion-link:hover,
  .accordion-link:focus {
    @include transition(.3s);
    background-color: $accordion-hover-background-color;
    border-radius: 0;
    color: $accordion-hover-color;
  }

  .ui-accordion-header,
  .ui-accordion .ui-accordion-content {
    background-color: $accordion-background-color;
    background-image: none;
    border: 0;
    border-bottom-color: $accordion-border-color;
    border-bottom-style: $accordion-border-style;
    border-bottom-width: $accordion-border-width;
    color: $accordion-color;
    margin: 0;
  }

  .has-children {
    @include background-image(linear-gradient(
      left,
      $accordion-background-color 0%,
      $accordion-background-color 83.5%,
      $accordion-border-color 83.5%,
      $accordion-border-color 84%,
      $accordion-header-icon-background-color 84%,
      $accordion-header-icon-background-color 100%
    ));

    .accordion-link {
      margin-right: 16.5%;
    }

    .ui-icon {
      left: auto;
      margin: .5em 0;
      right: .8em;
      top: 10%;
    }
  }

  .has-children.ui-state-active,
  .has-children.active-trail {
    @include background-image(linear-gradient(
      left,
      $accordion-active-trail-background-color 0%,
      $accordion-active-trail-background-color 83.5%,
      $accordion-border-color 83.5%,
      $accordion-border-color 84%,
      $accordion-header-icon-background-color 84%,
      $accordion-header-icon-background-color 100%
    ));
  }

  .no-children {
    .ui-icon {
      display: none;
    }
  }

  .active-trail {
    background-color: $accordion-active-trail-background-color;
  }

  .active {
    background-color: $wwuLime;
  }

  .active:hover,
  .active:focus {
    @include transition(.3s);
    text-decoration: underline;
  }

  .ui-corner-all,
  .ui-corner-top,
  .ui-corner-bottom {
    border-radius: 0;
  }

  .ui-accordion .ui-accordion-content {
    border: 0;
    font-family: $muli;
    margin: 0;
    padding: 0;
    top: 0;
  }

  .ui-widget-content {
    background: none;
  }

  .ui-widget {
    font-size: 1em;
  }

  /* ALL LEVELS */
  .ui-accordion-content {

    .menu {
      margin: 0;
      padding: 0;
    }

    li {
      display: block;

      a {
        border-bottom-color: $accordion-border-color;
        border-bottom-style: $accordion-border-style;
        border-bottom-width: $accordion-border-width;
        display: block;
        margin: 0;
        padding-bottom: $accordion-vertical-padding;
        padding-right: 0;
        padding-top: $accordion-vertical-padding;
        text-decoration: none;
      }

      .first a {
        margin: 0;
      }
    }

    .menu > .menu li,
    .menu > .menu li > li {
      padding-left: 0;
    }
  }

  // Maximum number of levels UI Accordions may be nested.
  $max-accordion-levels: 3;

  // Variable to accumulate nested UI Accordion selector.
  $nested-accordion-selector: '';

  @for $accordion-level from 0 through $max-accordion-levels {
    $nested-accordion-selector: $nested-accordion-selector + ' .ui-accordion-content';

    #{$nested-accordion-selector} {

      .ui-accordion-header .accordion-link {
        padding-left: $accordion-level * $accordion-child-horizontal-padding-increment + $accordion-child-horizontal-padding * 1em;
      }

      // Variable to accumulate nested list item selector.
      $nested-list-selector: '';

      @for $list-level from $accordion-level through $max-accordion-levels {
        $nested-list-selector: $nested-list-selector + ' li';

        .menu #{$nested-list-selector} a {
          padding-left: $list-level * $accordion-child-horizontal-padding-increment + $accordion-child-horizontal-padding * 1em;
        }
      }
      // END LIST LOOP
    }
  }
  // END ACCORDION LOOP
}

@import 'menu-icons.scss';

.view .ui-accordion,
.content-accordion {
  font-family: $muli;
  font-size: 100%;

  .ui-widget-content {
    background: transparent;
    border: 0;
    margin-left: 35px;
    padding: .5em 0;

    a {
      color: $wwuOceanBlue
    }
  }

  .ui-accordion-header {
    background: transparent;
    border: 0;
    color: $wwuBlue;
    padding: .5em 0;
    padding-left: 35px;

    a {
      color: $wwuBlue;
    }
  }
}

.ui-accordion.content-accordion {

  .ui-accordion-header {
    cursor: pointer;
    display: block;
    font-size: 25.6px;
    margin-top: 2px;
    min-height: 0;
    position: relative;

    .ui-accordion-header-icon {
      left: .5em;
      margin-top: -8px;
      position: absolute;
      top: 50%;
    }
  }
}

.accordion-fix-title a {
  left: 1.7em;
  position: relative;
}

.accordion-fix-body .field-body a {
  color: #0070B6;
  display: inline;
}

/*--- Menu Alert Styles for inaccessible accordion ---*/

.disable-menu-alert, .enable-menu-alert {
  display: block;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  position: absolute;
  height: 1px;
  width: 1px;


  &:focus-within {
    width: 85%;
    height: auto;
    position: relative;
    border: 2px solid transparentize($wwuYellow, .8);
    background-color: transparentize($wwuYellow, .8);
    clip: auto;
    overflow: visible;
    margin-bottom: 2em;
    padding: 1% 8% 1%;
  }

  .menu-enabled, .menu-disabled {
    &:focus {
      outline: 0;
    }

    h2 {
      font-size: 1.2em;

      > span {
      &.material-icons {
          font-size: inherit;
          position: relative;
          top: 2px;
        }
      }
    }
  }

  a {
    color: $wwuBlue;
    outline: 2px solid transparent;
    padding: 0 2%;
  }
}

.disable-menu-alert, .enable-menu-alert {
  button {
    margin-bottom: 8%;
  }
}
