/**
 * @file
 * WWU Brand Colors
 */

$wwuBlue: #003f87;
$wwuBlue-80-percent: #33659f;
$wwuBlue-60-percent: #668cb7;
$wwuBlue-40-percent: #99b2cf;
$wwuBlue-20-percent: #ccd9e7;

$wwuLtblue: #0083d6;
$wwuLtblue-80-percent: #339cde;
$wwuLtblue-60-percent: #66b5e6;
$wwuLtblue-40-percent: #99cdef;
$wwuLtblue-20-percent: #cce6f7;

$wwuRed: #cc2d30;
$wwuRed-80-percent: #d65759;
$wwuRed-60-percent: #e08183;
$wwuRed-40-percent: #ebabac;
$wwuRed-20-percent: #f5d5d6;

$wwuYellow: #ffc61e;
$wwuYellow-80-percent: #ffd14b;
$wwuYellow-60-percent: #ffdd78;
$wwuYellow-40-percent: #ff38a5;
$wwuYellow-20-percent: #fff4d2;

$wwuLime: #bad80a;
$wwuLime-80-percent: #c8e03b;
$wwuLime-60-percent: #d6e86c;
$wwuLime-40-percent: #e3ef9d;
$wwuLime-20-percent: #f1f7ce;

$wwuGreen: #006b3f;
$wwuGreen-80-percent: #338965;
$wwuGreen-60-percent: #66a68c;
$wwuGreen-40-percent: #99c4b2;
$wwuGreen-20-percent: #cce1d9;

$wwuGray: #667986;
$wwuGrayBlue: #4B689C;
$wwuOceanBlue: #007ac8;
$wwuLtGray: #ededed;
$wwuBlack: #111;
