@import "colors";
.covid-attestation{
    padding: 6px;
    text-align: center;
    background-color: $wwuYellow;

    h2 {
      margin: 0;
    }

    a {
      color: $wwuBlue;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background-color: $wwuLtGray;
      }

      &:focus {
        outline: 3px dotted;
      }
    }
}
