/**
 * @file
 * Grid of images with captions styling
 */
@import "colors";

.image-grid {
  display: grid;

  grid-column-gap: 9px;
  grid-row-gap: 9px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  align-items: start;

  .image-grid-item {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: end;

    .image {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      margin-bottom: -6px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    h2 {
      &.image-caption {
        margin: 0;
        height: 100%;
      }
    }

    .image-caption {
      display: grid;
      align-content: center;
      padding: 18px;
      color: white;
      background-color: transparentize($wwuBlue, .1);

      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  &.image-grid-header {
    grid-template-rows: auto;
    grid-template-columns: auto;

    .image-grid-item {
      grid-template-rows: 3fr 1fr;
    }
  }
}
