/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

// Import helper classes for panel, views, and wysiwyg editors
@import "helpers";

// Import _accordion.scss at bottom of file.

/* ****************************************************
                        Body
**************************************************** */

body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  -webkit-font-smoothing: antialiased; //Make fonts in webkit not look terrible.
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/* ****************************************************
                       Header
**************************************************** */

header[role="banner"] button {
  outline: none;

  a {
    text-decoration: none;
  }
}
.parent-site-header {
  height: 34px;
  background-color: $wwuLime;
  width: 100%;
  min-width: 100%;
  margin-bottom:10px;

  a {
    @include transition(.1s);
    color: $wwuBlack;
    display: block;

    &:hover, &:active, &:focus {
      @include transition(.5s);
      text-decoration: none;
      color: $wwuBlue;
    }

    p {
      line-height: 34px;
      text-transform: uppercase;
    }
  }

  a p {
    margin: 0 0 0 260px;
  }
}

.western-header {

  .western-search-widget {
    background: #fff;
    padding: 0;
    display: block;
    overflow: hidden;
    z-index: 200;
    height: 4em;
    width: 18.25em;
    margin-top: -.31em;
    @include box-shadow(#333 0 0 8px);

    &.hide {
      display: none;
    }

    &:focus-within {
      box-shadow: inset 2px 2px 5px transparentize($wwuGray, .5);
    }

    .form-item .form-text {
      &:focus, &:active {
        @include box-shadow(none);
      }
    }

    a {
      color: #999;
      line-height: 31px;
      background: #E4E4E4;
      height: 2.063em;
      float: left;
      width: 12px;
      text-align: center;
      text-decoration: none;

      &:hover, &:focus {
        color: #666;
      }
    }

    label {
      &[for="edit-query"] {
        @include element-invisible;
      }
    }

    input {
      font-size: .85em;
      font-family: $muli;
      border:  {
        width: 0 0 1px 0;
        style: solid;
        color: $wwuLime;
      }

      margin: 0.5em 0.25em 0.25em 0.75em;
      padding: 0.25em 0 0.1em 0;

      &:focus {
        outline:none;
      }
    }

    .form-submit {
      background-color: $wwuOceanBlue;
      color: #fff;
      margin: 0;
      padding: 0 1em;
      outline: 2px solid transparent;
      height: 4.75em;
      position: absolute;
      top: 0;
      right: -1px;
      border-radius: 0;

      &:focus, &:hover {
        background-color: $wwuBlue;
      }

      &:focus {
        outline: 2px dotted;
      }
    }

    .form-type-checkbox {
      display: block;
      margin: 0;

      label {
        color: gray;
        font-size: 0.625em;
        font-weight: normal;
      }
    }

    input[type='checkbox'] {
      height: 12px;
      width: 12px;
    }
  }
}

.western-quick-links ul {
  font-size: 0.8em;

  li  {
    display: inline-block;
    font-family: $muli;
    padding-left: 0.5em;

    img {
      margin-top: -1px;
    }

    a {
      text-decoration: underline;
      padding: 5px;
      color: $wwuBlue;
      outline: 2px solid transparent;

      &:hover, &:focus, &:active {
        outline: 0;
        color: $wwuBlack;
        text-decoration: none;
        background-color: transparentize($wwuGray, .7);
      }

      &:focus {
        outline: 2px dotted;
      }
    }
  }
}

// Media Query for the name
@media all and (min-width: 801px) {

  .site-name {
    z-index: 99;
    min-width: 200px;
    max-width: 250px;
    min-height: 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: right;
    padding: .75em 1em;
    line-height: 1.1;

    p {
      text-decoration: none;
      color: #fff;
    }
  }

}

/* ****************************************************
          Main (container for everything)
**************************************************** */

main {
  padding: 0.625em;
  //Create a white to gray vertical gradient
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-8 */
  $experimental-support-for-svg: true; //Support for IE9 and Opera Presto
  @include background-image(linear-gradient(rgba(255,255,255,1), rgba(233,233,233,1)));
}

/* ****************************************************
                        Content
**************************************************** */

.region-header, .main-nav, .content {
  @include zen-clear(both);
}

.page-title {
  border-bottom: solid 3px #E9E9E9;
  margin-bottom: 1em;
}

.region-highlighted {}

.breadcrumb { /* The path to the current page in the form of a list of links */
  float: right;
  font-size: 0.75em;
  font-family: $muli;
  color: gray;
  line-height: 2.17;

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: gray;

    a {
      color:$wwuOceanBlue;
      text-decoration:none;

      &.active {
        color:$wwuRed;
      }

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

/* ****************************************************
                        Links
**************************************************** */

main {
  a {
    color: $wwuBlue;
    text-decoration: underline;
    outline: 2px solid transparent;

    &:focus, &:hover {
      text-decoration: none;
      background-color: transparentize($wwuGray, .7);
      color: $wwuBlack;
    }

    &:focus {
      outline: 2px dotted;
    }

    // additional styles for [target="blank"] material icons

    &[target="_blank"], &[target="blank"] {
      .material-icons {
        font-size: inherit;
        position: relative;
        top: 3px;
        left: 2px;
      }
    }

    // File extensions added after relevant links

    // video
    &[href$='.mp4'], &[href$='.mov'], &[href$='.flv'],
    &[href$='.mpg'], &[href$='.mpeg'] {
      &:after {
        content: ' (video)';
      }
    }

    //audio
    &[href$='.mp3'] {
      &:after {
        content: ' (audio)';
      }
    }

    // Illustrator
    &[href$='.ai'] {
      &:after {
        content: ' (Illustrator)';
      }
    }

    // web
    &[href$='.dwt'], &[href$='.css'],   &[href$='.xml'] {
      &:after {
        content: ' (web file)';
      }
    }

    // Photoshop
    &[href$='.psd'] {
      &:after {
        content: ' (Photoshop)';
      }
    }

    // PostScript
    &[href$='.eps'] {
      &:after {
        content: ' (PostScript)';
      }
    }

    // InDesign
    &[href$='.id'] {
      &:after {
        content: ' (InDesign)';
      }
    }

    // WMV
    &[href$='.wmv'] {
      &:after {
        content: ' (WMV)';
      }
    }

    // Flash
    &[href$='.swf'] {
      &:after {
        content: ' (Flash)';
      }
    }

    // Word
    &[href$='.doc'], &[href$='.docx'],  &[href$='.dot'], &[href$='.docm'],
    &[href$='.dotx'],  &[href$='.dotm'], &[href$='.odt'] {
      &:after {
        content: ' (Word)';
      }
    }

    // PowerPoint
    &[href$='.ppt'], &[href$='.pptx'],  &[href$='.pptm'], &[href$='.potx'],
    &[href$='.potm'], &[href$='.ppam'],   &[href$='.ppsx'], &[href$='.sldx'],
    &[href$='.sldm'], &[href$='.odp'] {
      &:after {
        content: ' (PowerPoint)';
      }
    }

    // Excel
    &[href$='.xls'], &[href$='.xlsx'],  &[href$='.xlsb'], &[href$='.xltm'],
    &[href$='.xlam'], &[href$='.xltx'], &[href$='.ods'] {
      &:after {
        content: ' (Excel)';
      }
    }

    // PDF
    &[href$='.pdf'] {
      &:after {
        content: ' (PDF)';
      }
    }
  }
}

/* ****************************************************
                    Typography
**************************************************** */

.secondary-nav {
  font-family:$muli;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $muli;
  font-weight: normal;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  border: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.17em 0 .55em 0;
  line-height: 1;
  color: $wwuBlue;
  font-weight: normal;
}

h1 {
  font-size: $h1-font-size;
  margin:.17em 0 .4em .5em;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

.block-title {
  font-size:1em;
}

footer h2.block-title {
  color: #fff;
}

// To be used (on headers) in Drupal WYSIWYG Styles Dropdown
.title-underline {
  border-bottom: #ddd 3px solid;
  padding-bottom: 0.25em;
}

.content {
  .code, code {
    font-family: "Courier New", Courier, monospace;
    font-weight: 700;
    color: $wwuRed;
    margin-left: 3em;
  }

  p {
    margin-top:0;
    margin-bottom:1em;

    blockquote & {
      font-size:1em;
    }

    code {
      margin-left:0;
    }
  }

  blockquote {
    background: #f1f1f1;
    padding:1em 1.5em;
    margin:.5em 0;
    max-width:75%;
    min-width:45%;

    p:last-child {
      margin-bottom:0;
    }
  }
}

main ul, main ol {
  margin: 0;
}

.diminutive-type {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  font-family: serif;
}

table {
  border-collapse: collapse;
  font-size: 0.85em;
  font-family: $muli;
}

tr:nth-of-type(odd) {
  background: #ddd;
}

th {
  font-weight:normal;
  a.active {
    color: $wwuBlue;
  }
}

td, th {
  padding: 0.5em;
  text-align: left;
}

td.active {
  background-color: #eee;
}

tr {
  border-bottom: 1px solid #fff;
}

td, th {
  border-right: 1px solid #fff;
}

dl {
  @extend p;
  margin-left: 1.5em;

  dt {
    @extend h4;
  }

  dd {
    margin-left: 1.5em;
  }
}

figure {
  display: inline-block;

  img {
    margin: 0 auto;
  }

  figcaption {
    margin-top: 0.5em;
    font-size: 13px;
    font-size: 0.85rem;
    line-height: 1.5;
    font-style: italic;
    color: #555;
  }
}

/*
 * Important messages (status, warning, and error) for the user. See also the
 * declarations in messages.css.
 */
div.messages {
  margin: 1.5em 0;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Normal priority messages */
div.status {
}

/* Medium priority messages */
div.warning,
tr.warning {
}

/* High priority messages. See also the .error declaration below. */
div.error,
tr.error {
}

/* Errors that are separate from div.messages status messages. */
.error {
}

/* Warnings that are separate from div.messages status messages. */
.warning {
}

/* See also the tabs.css file. */
.tabs {
}

/* Help text on a page */
.region-help {
}

/* Link to more help */
.more-help-link {
}

/* Wrapper for the actual page content */
.region-content {
}

/* List of links generated by theme_links() */
ul.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */

    }
  }

/* The inline field label used by the Fences module */
span.field-label {
  padding: 0 1em 0 0; /* LTR */
}

/* A list of page numbers when more than 1 page of content is available */
.item-list .pager {
  padding: 0;

  /* Each page number in the pager list */
  li {
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

/* ****************************************************
                       Footer
**************************************************** */

footer {
  background-color: $wwuBlue;
  color: white;
  border-top: 10px solid #fff;
  padding-bottom: 0.5em;

  a {
    text-decoration: underline;

    &:hover, &:focus, &:active {
      color:$wwuLime;
    }
  }
}

.footer-left {

  .footer-site-name, p:first-child {
    font-size: 1.33em;
    text-transform: uppercase;
    line-height: 1.1;
  }

    a {
      color: white;

      &:hover, &:focus {
        color: $wwuLime;
      }
    }
  }

.footer-center {

  ul.menu li {
    list-style-image: none;
    list-style-type: none;
    font-size: 0.875em;
    padding-top: 0.5em;

    a {
      color: #fff;
      text-decoration: underline;
      padding-left: 0.15em;
      text-transform: capitalize;

      &:hover, &:focus {
        color:$wwuLime;
      }
    }
  }
}

.footer-right {
  @include background(linear-gradient(top, #3A5A8F, $wwuBlue));
  font-family: $muli;

  h2 {
    @include box-shadow(#555 0 0 7px);
    padding: 0.75em 0;
    font-weight: normal;
    text-align: center;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
    box-sizing: border-box;
    text-transform: uppercase;
    margin-top: -1.5%;

    a {
      margin:0;
      padding-top: 0.8em;
      border: none;
      text-decoration:none;
      color: $wwuBlue;

      &:hover, &:active, &:focus {
        color: $wwuOceanBlue;
      }
    }
  }
  .western-contact-info {
    font-size:.750em;

    a {
      color:#fff;
      text-decoration: underline;

      &:focus, &:hover {
        color: $wwuLime;
      }
    }
    // Set the default styles for the p content in the right footer block
    p {
      position:relative;
      padding-left:.5em;
      margin-bottom:.75em;
      margin-top:0;
      line-height:1.5em;

      &:last-child {
        margin-bottom:1.25em;
      }

      &:before {
        position:absolute;
        left:0;
      }

      .western-address-city {
          margin-left: 15px;
        }
    }

    .western-address:before,
    .western-telephone:before,
    .western-contact:before {
      font-family: fontello;
      color: $wwuYellow;
    }

    .western-address:before {
      content: '\e800';
      width:14px;
      height:12px;
      margin-top:-1px;
      margin-left: -4px;
      padding-right: 8px;
    }

    .western-telephone:before {
      content: '\21';
      width:12px;
      height:10px;
      margin-left: -4px;
      padding-right: 8px;
    }

    .western-contact:before {
      content: '\25';
      width:11px;
      height:8px;
      margin-left: -4px;
      padding-right: 8px;
    }
  }

  .western-social-media {

    /* Dimensions of social media icons */
    $social-icon-size: 25px;

    padding-left: emCalc(17);
    line-height: $social-icon-size;

    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      float: left;
      margin-right: 0.2em;
      font-size: $social-icon-size;
      height: $social-icon-size;
      line-height: $social-icon-size;
    }

    a {
      display: block;
      width: $social-icon-size;
      height: $social-icon-size;
      overflow: hidden;
      white-space: nowrap;

      span:before {
        width: $social-icon-size;
        height: $social-icon-size;
        font-family: 'fontello';
        color: white;
      }

      &:focus,
      &:hover {
        border-bottom: 3px solid $wwuLime;
      }
    }
    .westernIcons-WwuSocialIcon:before {
      content: '\e82a';
    }
    .westernIcons-FacebookIcon:before {
      content: '\101';
    }

    .westernIcons-FlickrIcon:before {
      content: '\102';
    }

    .westernIcons-GooglePlusIcon:before {
      content: '\103';
    }

    .westernIcons-InstagramIcon:before {
      content: '\104';
    }

    .westernIcons-TumblrIcon:before {
      content: '\105';
    }

    .westernIcons-TwitterIcon:before {
      content: '\106';
    }

    .westernIcons-RSSicon:before {
      content: '\107';
    }

    .westernIcons-YouTubeIcon:before {
      content: '\108';
    }
  }
}
/* ****************************************************
                      Page Bottom
**************************************************** */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


/* ****************************************************
                    Miscellaneous
**************************************************** */

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

//Hide the darn contextual link of the main menu when the page loads for admins
.main-menu div.contextual-links-wrapper ul.contextual-links {
  display: none;
}

//Make sure flexslider arrows are not cut off by default
.flexslider {
  .flex-direction-nav a {
    line-height: 40px;
  }
  iframe {
    width: 100%;
  }
  //Caption styles
  ul.slides {
  	background-color:#555;
  	li {
      background-color: #fff;
	  .flex-caption {
	    padding: 0.5em;
	    background-color:#555;
  	    color:#ffffff;
	  }
    .flex-caption > a {
      color:#ffffff;
      text-decoration: underline;
    }
	}
  }

}


/* ****************************************************
                  Partial Files Import
**************************************************** */

@import "accordion"; // jQuery Accordion
