/**
 * Styles for social media icons from Ashlar.
 * Example of HTML formatting:
 *
 * <ul class="social-media-links">
 *   <li>
 *     <a href="{{ email.url }}" class="social-icon email">
 *       <span class="visually-hidden">Email</span>
 *       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" aria-hidden="true" role="img">
 *         <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/><path d="M0 0h24v24H0z" fill="none"/>
 *       </svg>
 *     </a>
 *   </li>
 * </ul>
 *
 * SVGS for other icons can be found at https://bitbucket.org/wwuweb/ashlar/src/master/source/_patterns/00-atoms/icons/social-media-icons/
 */
@import "colors";

$button-size: 58px; /* size of the whole square */
$icon-size: 36px; /* size of the interior svg */

.social-icon {
  display: block;
  width: $button-size;
  height: $button-size;
  transition: 0.2s ease;
  background-color: $wwuLtblue;
  border-bottom: none;

  svg {
    width: 100%;
    margin-top: (($button-size - $icon-size) / 2) - 1;
    margin-left: (($button-size - $icon-size) / 2) - 1;
    transition: fill 0.2s ease;

    fill: white;
  }

  &:hover,
  &:focus {
    background-color: $wwuLime;
  }
}

.social-media-links {
  display: flex;
  flex-flow: row wrap;
  max-width: 400px;
  padding: 0;
  list-style: none;

  .social-icon {
    margin: 16px 16px 0 0;
  }
}
