@import 'base';
/*------------------------------------------------------------------------------
SEARCH AREA STYLES
------------------------------------------------------------------------------*/
/*----------
SEARCH BOX
----------*/
.search-area {
  margin-top: 23px;
  margin-left: .9em;
  display: grid;

  grid-template-columns: 2fr 50px 1fr;
  grid-template-rows: 50px auto auto;
}
.search-query {
  height: 100%;
  padding-left: 10px;
  border: solid #ccc 3px;
  font-size: 1em;
  font-weight: 300;
  vertical-align: top;
  box-sizing: border-box;
}
.search-submit {
  background-image: url('../images/icons/search.png');
  border: solid #ccc 3px;
  background-size: contain;
  border-left: 0;
  width: 50px;
  height: 50px;
  color: transparent;
}
.search {
  .advanced {
    input {
      width: 100%;
      height: 100%;
      border: 0;
      background-color: #ccc;
      font-size: 1em;
      margin-left: 1em;
    }
  }
}
/* Advanced Search Styles */
.refine,
.order,
.metasearch-targets {
  padding: 0;
}
.order  {
  grid-row: 3;
}
.ranking-factors {
  div {
    display: inline-block;
    margin-right: 1em;
  }
}
.ranking-factors {
  h3 {
    margin: 0 0 9px;
  }
}

/*----------------------------
SEARCH RESULTS SUMMARY & PAGER
----------------------------*/

/* Search result headings */
.thunderstone-result-heading {
  margin: 1em 0 .4em .5em;
  padding-bottom: .5em;
  border-bottom: solid 3px #E9E9E9;
}
/* Info about matching results and sort link */
.search-results-summary {
  margin-top: 20px;
  padding: 18px;
  border-top: solid 2px $wwuLtblue;
  border-bottom: solid 2px $wwuLtblue;
  text-align: center;
}
.search-pager {
  margin-top: 1em;

  span,
  a {
    margin: 0 .5em;
  }
}

/*------------
SEARCH RESULTS
-------------*/
.search-result {
  .result-number {
    font-weight: bold;
    margin-right: 0.5em;
  }

  dd {
    margin-left: 1.2em;
    margin-top: .5em;

    span {
      display: block;
      margin-bottom: .1em;
    }
  }
}
