.wwu-img-caption-aside {
  background: #fff;
  box-shadow: 0 0 4px 2px #ddd;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: .75em;
  text-align: center;
}

.wwu-img-caption-figure {
  display: flex;
  flex-flow: column nowrap;

  img {
    display: inline-block;
    margin: 0;
  }
}

.wwu-img-caption-figcaption {
  display: inline-block;
  max-width: 100%;
  text-align: left;
}
