/**
* These are the layout styles for the clean-meri panel.
*/

@import "panels";

.clean-meri-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
  "first"
  "second"
  "third_left"
  "third_right"
  "fourth_left"
  "fourth_right"
  "fifth";
}

@media all and (min-width: 800px) {
  .clean-meri-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "first first first first first"
    "second second second second second"
    "third_left third_left third_right third_right third_right"
    "fourth_left fourth_left fourth_left fourth_right fourth_right"
    "fifth fifth fifth fifth fifth";
  }
}

.wwu-100-percent-first-row {
  grid-area: first;
}

.wwu-100-percent-second-row {
  grid-area: second;
}

.wwu-40-percent-third-row {
  grid-area: third_left;
}

.wwu-60-percent-third-row {
  grid-area: third_right
}

.wwu-60-percent-fourth-row {
  grid-area: fourth_left;
}

.wwu-40-percent-fourth-row {
  grid-area: fourth_right;
}

.wwu-100-percent-bottom {
  grid-area: fifth;
}
